@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img{align-self:center;
}




@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}
/* phone */
body {
  background-color: #e4e7ec;
}
.top{display:flex;
flex-direction:column;
justify-content: center;}

.middle{display:flex;
  flex-direction:column;
  justify-content: center;}

  .bottom{display:flex;
    flex-direction:column;
    justify-content: center;}


h1 {
  font-family: "SF Distant Galaxy"; color:yellow; text-align: center;
}

a {color:yellow;}

body{background-color:black;}

.link{display:flex;
    flex-direction: column;
      justify-content: center;
      align-items: center;
    }
/* computer */
@media screen and (min-width: 600px) {
  .top{display:flex;
    flex-direction:row;
    justify-content: center;}

    .middle{display:flex;
      flex-direction:row;
    justify-content: center;}

      .bottom{display:flex;
        flex-direction:row;
        justify-content: center;}

        .link{display:flex;
          flex-direction: row;
         justify-content: space-around;}



}

